<h1>Results for: <%= title %></h1>
<div>
  <a style="display: block; margin-bottom: 20px;" href="<%= data[0].video_url %>">
    <img style="display: inline-block; vertical-align: top;" src="<%= data[0].thumb %>">
    <div style="display: inline-block; vertical-align: top;">
      <h3 style="margin: 0;">1. <%= data[0].title %></h3>
      <p><%= data[0].description %></p>
    </div>
  </a>
  <a style="display: block; margin-bottom: 20px;" href="<%= data[1].video_url %>">
    <img style="display: inline-block; vertical-align: top;" src="<%= data[1].thumb %>">
    <div style="display: inline-block; vertical-align: top;">
      <h3 style="margin: 0;">2. <%= data[1].title %></h3>
      <p><%= data[1].description %></p>
    </div>
  </a>
  <a style="display: block; margin-bottom: 20px;" href="<%= data[2].video_url %>">
    <img style="display: inline-block; vertical-align: top;" src="<%= data[2].thumb %>">
    <div style="display: inline-block; vertical-align: top;">
      <h3 style="margin: 0;">3. <%= data[2].title %></h3>
      <p><%= data[2].description %></p>
    </div>
  </a>
</div>